always-auth=true
//npm.greensock.com/:_authToken=${NPM_TOKEN}
@gsap:registry=https://npm.greensock.com

# //npm.greensock.com/:_authToken=e98ad9cc-0b60-4ffe-8767-72e69ed64675
# @gsap:registry=https://npm.greensock.com