.preloader 
  @extend %cover
  @extend %center

  background: $peach
  color: $white
  text-align: center
  z-index: 10
  
.preloader__text
  @extend %title-53

  max-width: 68rem

  .line-mask
    overflow: hidden

  .line
    font-kerning: none

.preloader__number
  @extend %description-14

  position: absolute
  bottom: 7.3rem
  left: 50%
  transform: translateX(-50%)
  // opacity: 0

  @media(max-width: $phone)
    font-size: 2rem



  